 body {
    background-color: grey;
}
/*
.rhino {
    width: 600px;
    border: 20px solid red;
    border-radius: 50px 50px 0 0;
}

h1,
p {
    color: pink;
}

h1 {
    font-weight: bold;
    color: rgb(133, 38, 181);
} */

/* button {
  background-color: #fff;
  color: black;
  border: 2px solid black;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
} */
